###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Sho"]
list2 = ["y", "me", "s", "vo"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Sho', 'vo']]
```

In [5]:
# Write code here
list1 = ["M", "na", "i", "Sho"]
list2 = ["y", "me", "s", "vo"]

result = [[a , b] for a, b in zip(list1, list2)]
result

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Sho', 'vo']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [14]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of fruits and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Mango','Banana','Pine Apple','Apple','Jack Fruit']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Mango-10
Banana-20
Pine Apple-34
Apple-74
Jack Fruit-32

```

In [32]:
# Write code here
candy_list = ['Mango','Banana','Pine Apple','Apple','Jack Fruit']
no_of_items = [10,20,34,74,32]

result = [candy+ "-" + str(count) for candy, count in zip(candy_list, no_of_items)]
for item in result:
    print(item)

Mango-10
Banana-20
Pine Apple-34
Apple-74
Jack Fruit-32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [37]:
# Write code here
list1 = [1,2,3,4,5,6]
total = 0
[total:=total+i for i in list1]

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [5]:
# Write code here
list1 = [2,4,6,10,1]
[sum(y for y in list1 if y>=x) for x in list1]

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [10]:
# Write code here
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
result = [i for i in num1 if i in num2]
result.sort()
result

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [14]:
# Write code here
lst = ['1ac21', '23fg', '456', '098d', '1', 'kls']

def digit_product(s):
    digits = [int(ch) for ch in s if ch.isdigit()]

    if not digits:
        return 1

    product = 1
    for d in digits:
        product *= d

    return product

result = sorted(lst, key=digit_product, reverse=True)

print(result)

['456', '23fg', '1ac21', '1', 'kls', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['Robin is learning Development', 'Mahedi Loves ML', 'I love Vibe Coding.']
```

Output:
```bash
['Robin', 'is', 'Learning', 'Development', 'Mehedi', 'Loves', 'ML','I', 'Love', 'Vibe', 'Coding.']
```

In [16]:
# Write code here
list5 = ['Robin is learning Development', 'Mahedi Loves ML', 'I love Vibe Coding.']
[word for sentence in list5 for word in sentence.split()]

['Robin',
 'is',
 'learning',
 'Development',
 'Mahedi',
 'Loves',
 'ML',
 'I',
 'love',
 'Vibe',
 'Coding.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['s', 'h', 'o', 'v', 'o'], ['b', 'h','a', 'i'], ['i', 's'], ['b', 'e', 's', 't']]
```

Output:
```bash
shovo bhai is best
```

In [33]:
# Write code here
list6= [['s', 'h', 'o', 'v', 'o'], ['b', 'h','a', 'i'], ['i', 's'], ['b', 'e', 's', 't']]
" ".join(''.join(sublist) for sublist in list6)

'shovo bhai is best'

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['shovoBhai', 'bestFor', 'machineLearning']
```

Output:
```bash
['shov Bhai', 'best For', 'machine Learning']
```

In [62]:
# Code here
lst = ['shovoBhai', 'bestFor', 'machineLearning']

["".join([" "+ ch if ch.isupper() else ch for ch in word]) for word in lst]

['shovo Bhai', 'best For', 'machine Learning']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [67]:
# Write code here
result = []
for x in [1,2,3,4,5,1] + [2,3,5,7,8]:
    if x not in result:
        result.append(x)
result

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [ ]:
# Write code here
list8  = [[1,2,3],[4,5,6],[7,8,9]]
[max(sublist) for sublist in list8]

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [ ]:
# Write code here
matrix1 = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
[[element for element in row] for row in matrix1 ]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [101]:
# Write code here
matrix = [
  [1,2,3],
  [4,5,6],
  [7,8,9]
]
[ [matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))  ]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
# Write code here
matrix = [
  [1,2,3],
  [4,5,6],
  [7,8,9]
]
[element for row in matrix for element in row ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#

###`Q16:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [116]:
# write your code here
list9 = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
result = {}
for a, b in list9:
    if a in result.keys():
        result[a].append(b)
    else:
        result[a] = [a, b]
[tuple(v) for v in result.values()]

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q17:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [125]:
# write your code here
t = (1, 5, 7, 8, 10)
list10 = []
for i in range(len(t)):
    if i==0:
        list10.append(t[i]*t[i+1])
    elif i==len(t)-1:
        list10.append(t[i]*t[i-1])
    else:
        list10.append(t[i-1]*t[i]+t[i]*t[i+1])
list10

[5, 40, 91, 136, 80]

###`Q18`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [127]:
# write your code here
t1 = (1, 2, 3, 0)
t2 = (0, 1, 2, 3)

if t1 == t2:
    print("Tuples are same")
else:
    print("Tuples are not same")

Tuples are not same

###`Q19`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [128]:
# write your code here
list1 = [{'hi', 'bye'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]

count_list = 0
count_set = 0
count_tuple = 0

for item in list1:
    if isinstance(item, list):
        count_list += 1
    elif isinstance(item, set):
        count_set += 1
    elif isinstance(item, tuple):
        count_tuple += 1

print("List-", count_list)
print("Set-", count_set)
print("Tuples-", count_tuple)

List- 2
Set- 2
Tuples- 1

###`Q20`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Mehedi
Enter Higher Education- BSc
Enter Primary Skill- Python
Enter Year of Graduation- 2028
Enter Details of student-2
Enter Student name- Sabit
Enter Higher Education- BSc.
Enter Primary Skill- C++
Enter Year of Graduation- 2028

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- BSc
Enter Year of Graduation- 2028
```

`Output`
```
('Mehedi', 'BSc', 'Python', '2028')
```

In [ ]:
# write your code here

###`Q21:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [129]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

list(set(ar1) & set(ar2) & set(ar3))

[80, 20]

###`Q22:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on machine learning mentorship progrAm with live classes by Shovo BhaIya"
```
`Output:`
```
No of unique vowels - 6
```

In [131]:
# write your code here
Str1 = "hands-on machine learning mentorship progrAm with live classes by Shovo BhaIya"

vowels = set()

for ch in Str1:
    if ch in "aeiouAEIOU":
        vowels.add(ch)

f"No of unique vowels - {len(vowels)}"

'No of unique vowels - 6'

### `Q23:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "CS_SHOVO"
Output: No
```

In [ ]:
# write your code here

### `Q24`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here

### `Q25`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# write your code here

### `Q26`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CS" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "SHOVO" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CS
```

**Example 2:**

Input:
```bash
test_dict = {"CS" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "SHOVO" : [9, 9, 6, 5, 5]}
```

Output:
```bash
SHOVO
```

In [ ]:
# write your code here

### `Q27`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'Shovo Bhaiya best for ML Learners.'
repl_dict = {"best" : "is best", "ML" : "Machine Learning"}
```

Output:

```bash
Shovo Bhaiya is best for "Machine Learning Learners.
```

**Example 2:**

Input:
```bash
test_str = 'Shovo Bhaiya best for ML Learners.'
repl_dict = {"good" : "is  best ", "ml" : "Machine Learning"}
```

Output:
```bash
Shovo Bhaiya best for ML Learners.
```

In [ ]:
# write your code here

### `Q28`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["Machine Learning", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'Machine Learning', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CS_SHOVO", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CS_SHOVO', 'id': 10}]
```

In [ ]:
# write your code here

### `Q29`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("mehedi", 10), ("sabit", 12), ("habib", 14), ("arafat", 20), ("sarar", 25), ("robin", 30)]
```

Output:
```bash
{'mehedi': [10], 'sabit': [12], 'habib': [14], 'arafat': [20], 'sarar': [25], 'robin': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
# write your code here

### `Q30`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# write your code here